﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Stocks</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
</head>
<body ng-app="myApp" ng-controller="myCtrl" ng-cloak  ng-init="getAllStocks()">
    <div>
        <h2>Stock Watcher</h2>
        <h4>The prices are reflected in realtime</h4>
        <input type="text" ng-model="stockIdSearch" size="15" placeholder="Filter by Stock ID" />
        <input type="button" value="Refresh"  ng-click="refresh();" />
        <p ng-show="errorToSearch">{{errorToSearch}}</p>
    </div>
    <div ng-show="toShow()">
        <table>
            <thead>
                <th>Stock Id</th>
                <th>Price</th>
            </thead>
            <tbody>
                <tr ng-repeat="stock in stocks | orderBy:orderProp | filter:(!!stockIdSearch || undefined) && {Id:stockIdSearch }">
                    <td>{{stock.Id}}</td>
                    <td>{{stock.Price}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="Scripts/jquery-1.10.2.min.js"></script>
    <script src="Scripts/jquery.signalR-2.1.2.min.js"></script>
    <script src="signalr/hubs"></script>
    <script src="Scripts/stocks.js"></script>
</body>
</html>
